### list comprehension practice

In [14]:
spells = [ch for ch in 'Ann']

In [15]:
spells

['A', 'n', 'n']

In [21]:
basket = ['   banana',' kiwi   ']
fruits = [item.strip() for item in basket]

fruits

['banana', 'kiwi']

In [26]:
import math
num = [1, 4, 9, 16]

square= [n*n for n in range(1,5)]

square

[1, 4, 9, 16]

In [41]:
items = [ 'hello', [1, 2], (1,2,3,4) ]
length = [len(item) for item in items]

In [66]:
store = [ ('apple', 1), ('kiwi', 2), ('pear', 3) ]
order = [(fruit,n*2) for (fruit,n) in store]

order

[('apple', 2), ('kiwi', 4), ('pear', 6)]

In [69]:
def c2f(c):
    return c * 1.8 + 32

c_degs = [-10, 0, 100 ]
cflist = [(c, c2f(c)) for c in c_degs]

cflist

[(-10, 14.0), (0, 32.0), (100, 212.0)]

In [88]:
vector = [ 2, 4, 6 ]
square = [{v: v*v} for v in vector]

square

[{2: 4}, {4: 16}, {6: 36}]

In [99]:
evens = [even for even in range(10) if even%2==0]
evens

[0, 2, 4, 6, 8]

In [101]:
vector = [ 2, 4, 6 ]
my_vec = [x*3 for x in vector if x>2]
my_vec

[12, 18]

In [104]:
vector = [ 2, 4, 6 ]
[x*3 for x in vector if x<2]

[]

### ------------------------------------------------------------------

In [1]:
def mean(data):
    sum = 0
    try:
        for x in data:
            sum += x
        return sum / len(data)
    except ZeroDivisionError:
        print('Joyful error: Divide by zero')
    except TypeError:
        print('Joyful error: The list must contain only numbers')

In [2]:
a = mean([1,3,2,4,5])
b = mean([1,3,'5',4,5])
c = mean([])
print(a, b, c)

Joyful error: The list must contain only numbers
Joyful error: Divide by zero
3.0 None None

In [ ]:
def mean(data):
    sum = 0
    try:
        for x in data:
            sum += x
        return sum / len(data)
        return mean
    except ZeroDivisionError:
        print('The list must have at least one element')
    except TypeError as e:
        print('The list must contain only numbers')

In [ ]:
a = mean([1,3,2,4,5])
b = mean([1,3,'5',4,5])
c = mean([])
print(a, b, c)

In [ ]:
def getSum(data):
    total = 0
    if len(data) < 1:
        raise ValueError('Joyful error: The list must have at least one element')
    try:
        for x in data:
            total += x
        return total
    except ValueError:
        print('Joyful error: The list must contain only numbers')
    except TypeError:
        print('Joyful error: Invalid number found in the list')

In [ ]:
try:
    a = getSum([1,3,2,4,5])
    b = getSum([1,3,'5',4,5])
    c = getSum([])
except Exception as e:
    print(e)
print(a, b, c)

In [3]:
def getSum(data):
    total = 0
    if len(data) < 1:
        raise ValueError('Joyful error: Have at least one element')
    try:
        for x in data:
            total += x
        return total
    except TypeError as e:
        print('Joyful error: Invalid number found in the list')
        print(e)

In [4]:
try:
    a = getSum([1,3,2,4,5])
    b = getSum([1,3,'5',4,5])
    c = getSum([])
    print(a, b, c)
except Exception as e:
    print(e)

Joyful error: Invalid number found in the list
unsupported operand type(s) for +=: 'int' and 'str'
Joyful error: Have at least one element